.about-us {
    background-image: url('Bg.jpeg'); 
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: black;
    padding: 2  0px; 
    text-align:justify
}


.about-us::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 330px ;
    margin-bottom: 200px;
    z-index: 1; 
}

.about-us h2,
.about-us p {
    position: relative; 
    z-index: 2; 
}